pennylane
pennylane-lightning
pennylane-braket
pennylane-qiskit
pennylane-cirq  # if needed
strawberryfields
mitiq
clifford
jax
numpy
amazon-braket-sdk  # for Braket creds
qiskit-ibm-runtime  # for IBM
